* {
    font-family: 'Shantell Sans', cursive;
    font-weight: 100;
    font-size: 40px;
}

body 
{
    padding-top: 150px;
}

.caja-fixed {
    background: green;
    position: fixed;
    opacity: .3;
    margin: -150px;
}


/*Position: posiciona los elementos, y sus propiedades son 
 1-Static - por defecto (se considera que no esta posicionado)
 2-Relative - conserva su espacio, por mas que movamos sus px, las propiedades mas importantes son top y left.
 Y adquiere una nueva propiedad que es el Z index - en el eje z los ordena, y el que tenga un valor mas alto, es el que va a parecer mas adelante. 
 El z-index, cuando se relacionan entre padres e hijos, de la unica forma que el padre este sobre el hijo es si el hijo tiene una position relative y un z-index de -1
 3-Absolute,- el ancho se ajusta al contenido, no reserva su elemento que ocupa en el flujo, el punto de referencia seria el viewport o el contendor
 4-Fixed - Es igual que absolute, unicamente que esta propiedad queda fijada, sirve para nav o menus
 5-Sticky -
 */