* {
    font-family: 'Sen', sans-sen;
    font-weight: 100;
    font-size: 20px;
}

.container {
    background: #86f;
    padding: 20px 5px;
}

.caja {
    background: #025;
    height: 80px;
    width: 80px;
    margin: 20px;
    position: relative;
    animation-name: desplazarse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.4, 0.23, 0.76, 1.11);
}

/*Reverse: 100- 0 
Alternate-reverse: 100 - 0 - 100
normal: 0 - 100
alternate: 0 - 100 - 0*/

@keyframes desplazarse {
    0% {
        /*Podemos cambiarlo al from por 0%*/
        left: 0;
        background: #025;
    }

    50% {
        background: red;
    }

    100% {
        /*Al to se lo puede cambiar por 50% o 100%*/
        left: 80%;
        background: green;

    }
}