* {
    font-family: 'Shantell Sans', cursive;
    font-weight: 100;
    font-size: 40px;
}

body {
    background: black;
}

div {
    margin: auto;
    margin-top: 50px;
    width: 320px;
    height: 350;
    border: 4px solid green;
    background: grey;
    overflow: hidden;
    
}

img {
    width: 1000px;
    position: relative;
    top: 260px;
    left: 240px;
    outline: 2px solid blue;
    transition: all 1.2s;
}


div:hover > img {
    width: 1000px;
    position: relative;
    top: 0px;
    left: 0px;
    outline: 2px solid yellow;
}