* {
    font-family: 'Sen', sans-sen;
    font-weight: 100;
    font-size: 20px;
}

.flex__container {
    display: flex;
    height: 100vh;
    flex-direction: row-reverse;


}



.flex__item {
    background-color: #248;
    color: #fff;
    min-width: 150px;
    text-align: center;
    height: 100px;
    width: 300px;
    flex: 1;

}

.grey {
    background: grey;
 order: 2;
}

.orange {
    background-color: orange;
    flex:1 0 350px;
    order: 3;

}

.green {
    background: green;

}

/*Order es como el z index, en el eje x en el que apunta el main*/