* {
    font-family: 'Sen', sans-sen;
    font-weight: 100;
    font-size: 20px;
}
body {
    background: radial-gradient(circle, #fff, #bbb);
}

.div-responsive {
    background: #c95;
}

@media screen and (min-width: 400px) and (max-width: 650px) {
    .div-responsive{
        background: red;
    }
}

@media screen and (min-width: 650px) and (max-width: 800px){
 .div-responsive{
    background: green;
 }   
}

