* {
    font-family: 'Sen', sans-sen;
    font-weight: 100;
    font-size: 20px;
}

div {
 width:49%;
 display: inline-block;
 padding: 20px;
 background: #ddd;
}
h1{
    font-size: 24px;
}


@media only screen and (max-width: 800px){ 
    h1 {
        font-size: 20px;
    }
    
    div{
        display: block;
        width: 100%;
    }

   
}











/*Responsive desing, es un concepto que trabaja con distintas resoluciones.*/
/*Mobile first, adata de un celular a una tablet o a un escritorio*/