* {
    font-family: 'Sen', sans-sen;
    font-weight: 100;
    font-size: 20px;
}

.nav__responsive-ul {
    display: none;
}

.nav {
    background-color: #48d1cc;
}

.nav__li {
    display: inline-block;
    padding: 9px;
    color: #ddd;
}

.nav__li:hover>a {
    color: #fff;
}

.nav__li:hover {
    color: #fff;
}

.nav__li a {
    color: #ddd;
    text-decoration: none;
}

.nav__li i {

    box-sizing: border-box;
    text-align: center;
    margin-right: 5px;
}


@media only screen and (max-width:500px) {
    .nav__ul {
        display: none;
    }

    .nav {
     
        width: 100%;
        background-color: #69c;
    }

    .nav__responsive-button {
        float: right;
        font-size: 25px;
        padding: 6px 20px;
    }
    
    

    .nav__responsive-ul {
        display: block;
        position: absolute;
        width: 100%;
        background-color: #48e;
        height: 100%

    }
}

   