* {
    font-family: 'Sen', sans-sen;
    font-weight: 100;
    font-size: 20px;
}

img {
    /*filter: blur(10px); Desenfoca la imagen*/
    filter: brightness(2); 
    filter: contrast(1.5);
    filter: drop-shadow(10px 10 px 5px #000); /*Se usa cuando las imagenes tienen fondo transparente*/
    /*filter: grayscale();*/
    width: 20%;
    filter: hue-rotate(40deg);
    filter:invert(100%);
    filter: opacity( );/*Valores del 1 al 10*/
    filter: saturate();
    filter: sepia();
    


}